{% extends "startsite/base.html" %}
{% block body %}
    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-md-1 mt-4">
            </div>
            <div class="col-md-10 mt-4">
                <h1 class="display-6">APPs</h1>
                <p>A continuacion se muestran las aplicaciones disponibles en este proyecto Django:</p>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4">
                        <div class="card h-100 mx-auto" style="width: 18rem;">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Sitio Web Simple</h5>
                                <p class="card-text">Sitio web basico, Tributo AM.<br> Contiene dos modelos: 'album' y 'song' ambos administrables desde el panel admin.</p>
                                <a title="AM Pagina Tributo" href="/amsite" class="btn btn-primary stretched-link mt-auto">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
