{% extends "amsite/base_album.html" %}
{% block body %}
    <div class="container-fluid mb-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'amsite:amsite' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'amsite:albums' %}">Albums</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ album.title }}</li>
          </ol>
        </nav>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-5">{{ album.title }}</h1>
            </div>
            <div class="col-md-4">
               <img src="{{ album.img }}" class="align-self-start mr-3 w-100" alt="{{ album.title }}">
            </div>
            <div class="col-md-4">
                    <h5>{{ album.title }}</h5>
                    {% if user.is_authenticated %}
                        <p><a href="{% url 'amsite:editalbum' album.id %}">Editar</a> - <a href="{% url 'amsite:newsong' album.id %}">Agregar Cancion</a></p>
                    {% endif %}
                    <ol>
                    {% for song in songs %}
                        <li>{{ song.title }} {% if user.is_authenticated %} - <a href="{% url 'amsite:editsong' song.id %}">Editar</a>{% endif %}</li>
                    {% endfor %}
                    </ol>
            </div>
            <div class="col-md-4 mt-4">
                <p>{{ album.desc }}</p>
            </div>
        </div>
    </div>
{% endblock body %}

