{% extends "amsite/base_album.html" %}
{% block body %}
    <div class="container-fluid mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'startsite:index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Albums</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-5">Crear Album</h1>
                <br>
                <div class="row row-cols-1 row-cols-md-3 ml-3">
                    <form action="{% url 'amsite:newalbum' %}" method ="POST">
                        {%  csrf_token %}
                        {{ form.as_p }}
                        <button type="button" class="btn btn-success" name="submit">Crear Album</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

