{% extends "web/base.html" %}
{% block body %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Albums</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-12">
                <h1 class="display-5">Albums</h1>
                <br>
                <div class="row row-cols-1 row-cols-md-3">
                    {%  for album in albums %}
                    <div class="col mb-4">
                        <div class="card h-100 mx-auto" style="width: 18rem;">
                            <img src="{{ album.img }}" class="card-img-top" alt="{{ album.title }}">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ album.title }}</h5>
                                <p class="card-text">{{ album.desc|truncatewords:":55" }}...</p>
                                <a title="{{ album.title }}" href="{% url 'albumdetail' album.id %}" class="btn btn-primary stretched-link mt-auto">Ver Más..</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ album.year }}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

